
# Si usas la arquitectura con Proxy de Servidor (server.ts):
BACKEND_API_URL="http://127.0.0.1:8000"

# O si deseas conectarte de forma directa en un hosting puramente estático:
VITE_API_URL="http://127.0.0.1:8000"
